/*body, header, nav, main, footer, li, h1, p*/
/*font-family, font-size, background-colour, display, width, text-align, color, line height*/

header {
    background-color: #ffffff;
    min-width: fit-content;
    border-radius: 10%;
    text-align: center; 

}
body {
    display: block;
    background-color: #f5eef1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #2e151f;
    text-align: center;
}
main {
    background-color: #ffffff;
    border-radius: 10%;
}
nav {
    display: inline-block;
    width: 80%;
    font-weight: bold;
}
nav img {
    display:inline;
    width: 10%;
    position: relative;
}
nav a {
    text-decoration: none;
    color: #b31762;
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}
/*li {
    display: inline;
    width: 90%;
    font-weight: bold;
    line-height: 2;
}*/
h1 {
    font-size: x-large;
    color: #96567b;
}
p {
    line-height: 1.5;
}
p a:link {
    color: #910572;
}
footer {
    font-style:italic;
    font-size: 70%;
}
.current {
    background-color: #b31762;
}
.current a {
    color: #ffffff;
}
.skiplink {
    font-size: smaller;
    font-weight: bolder;
    color:#6a1a8f;
}
.grid {
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 20px;
}
.flex {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
}
.grid img {
    width: 100%;
    border-radius: 30%;
    box-shadow: 0 4px 8px 0 #00000033, 0 6px 20px 0 #00000030
}
.flex img {
    padding: 20px;
    border-radius: 20%;
}